body{
font-family: Arial, sans-serif;
max-width:1200px;
margin:auto;
padding:20px;
line-height:1.6;
background:#fafafa;
}

header{
text-align:center;
padding:40px;
}

nav{
text-align:center;
margin-bottom:40px;
}

nav a{
margin:10px;
text-decoration:none;
font-weight:bold;
}

section{
background:white;
padding:25px;
margin-bottom:40px;
border-radius:10px;
}

img{
max-width:100%;
display:block;
margin:auto;
}

figure{
text-align:center;
}
